openflow/connectors/salesforce-bulk-api.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1771005103972,
    "description" : "",
    "identifier" : "salesforce-bulk-api",
    "lastModifiedTimestamp" : 1771005103972,
    "name" : "salesforce-bulk-api",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "0.15.0-67b61ad",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "006c21c3-b781-356e-0000-000039c579b4",
        "name" : "Log Error",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "19edf86b-cc31-3e13-83ef-53ec07372e48",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "comms.failure", "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "89178078-8e71-3b8f-0000-00005c9b7efe",
        "name" : "Delete Query Job",
        "type" : "PROCESSOR"
      },
      "zIndex" : 12
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "6fdf8c54-c6c5-3435-0000-00007217bdad",
        "name" : "Alter Destination Table",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1d86a202-d81e-3383-0000-000039c579b4",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "incremental" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "5955e308-8d10-30b0-0000-000039c579b4",
        "name" : "Drop FFs with no processed records",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "fa53c8f6-6ff7-3a62-b5a7-30b14b34c00c",
        "name" : "INSERT with Snowpipe Streaming",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1e0185b8-83a2-3b96-b0b8-b02b1260db5d",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "fec211aa-253e-3f6b-acfb-2ed815699d36",
        "name" : "Create Destination Table",
        "type" : "PROCESSOR"
      },
      "zIndex" : 20
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "89178078-8e71-3b8f-0000-00005c9b7efe",
        "name" : "Delete Query Job",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2370d608-c033-3802-ad4e-a8c4f2fab449",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "b098e6cf-aeca-33be-ffff-ffff8dd60f14",
        "name" : "Update State to FAILED",
        "type" : "PROCESSOR"
      },
      "zIndex" : 11
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "86038f15-a77d-3011-0000-00006c8a8f80",
        "name" : "Update State to COMPLETED",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "25a6d093-de63-3b0a-a9c3-e6f0c2f248df",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
        "id" : "152b20dd-7a43-380b-a93a-dc2dca886609",
        "name" : "success",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 16
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1073176a-ed8e-3ee6-0000-00000c66388e",
        "name" : "Update State to FAILED",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2798b1ca-518f-3d85-0000-000039c579b4",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "comms.failure", "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1fda544a-62a2-3c65-0000-000039c579b4",
        "name" : "Abort Query Job",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -544.0,
        "y" : 1248.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "b1805cd1-ddda-3bc5-0000-000078510de0",
        "name" : "LogMessage",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "27e4fcb7-d32d-310d-923a-14bab8df5af6",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "86038f15-a77d-3011-0000-00006c8a8f80",
        "name" : "Update State to COMPLETED",
        "type" : "PROCESSOR"
      },
      "zIndex" : 19
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d546cdcf-f204-3781-0000-000039c579b4",
        "name" : "Log Error",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "28ca1955-387e-3ee4-0000-000039c579b4",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "8619aded-149c-34bc-0000-000039c579b4",
        "name" : "Describe SFDC Object",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d7f8eb4f-fc8d-3ed7-ffff-ffffc05c7919",
        "name" : "Update State to COMPLETED",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2d5f427c-6f28-315a-b5d4-c0203f29e084",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "unmatched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "5955e308-8d10-30b0-0000-000039c579b4",
        "name" : "Drop FFs with no processed records",
        "type" : "PROCESSOR"
      },
      "zIndex" : 18
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
        "id" : "32242a9f-4bfd-336e-8f0e-74f11f5c0f97",
        "name" : "data",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3728a63c-1225-3d20-9950-5593e1aab29b",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "6fdf8c54-c6c5-3435-0000-00007217bdad",
        "name" : "Alter Destination Table",
        "type" : "PROCESSOR"
      },
      "zIndex" : 22
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -888.0,
        "y" : -584.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "38d24a6a-710b-323b-0000-000039c579b4",
        "name" : "Filter on specified objects #{Filter}",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "37b4e4c7-ecf9-3094-0000-000039c579b4",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f90b6988-9b28-39ef-0000-000039c579b4",
        "name" : "Split Objects",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -888.0,
        "y" : 232.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "5955e308-8d10-30b0-0000-000039c579b4",
        "name" : "Drop FFs with no processed records",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3b4f571b-4f1a-386b-0000-000039c579b4",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "b3043827-a2e4-35b6-0000-000039c579b4",
        "name" : "Delete Query Job",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "89178078-8e71-3b8f-0000-00005c9b7efe",
        "name" : "Delete Query Job",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4fb2bf61-0518-38cd-b679-ffdd71d48869",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "dc4894c0-dabc-331f-9514-dab45d47202c",
        "name" : "Update State to ABORTED",
        "type" : "PROCESSOR"
      },
      "zIndex" : 10
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d546cdcf-f204-3781-0000-000039c579b4",
        "name" : "Log Error",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "51124490-56ed-3acf-0000-000039c579b4",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "comms.failure", "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d27e31cc-0614-3909-0000-000039c579b4",
        "name" : "Submit Query Job",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "006c21c3-b781-356e-0000-000039c579b4",
        "name" : "Log Error",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "520dc831-eeb0-34d9-aba3-307953111b30",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure", "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "fa08dd27-b255-325a-0000-00006dfc42c7",
        "name" : "Update State to FAILED",
        "type" : "PROCESSOR"
      },
      "zIndex" : 14
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "dc4894c0-dabc-331f-9514-dab45d47202c",
        "name" : "Update State to ABORTED",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "53970551-4d5f-33ad-0000-000039c579b4",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "job.aborted" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4b71001f-4d06-3943-0000-000039c579b4",
        "name" : "Get Query Job Status",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -888.0,
        "y" : 96.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "b3043827-a2e4-35b6-0000-000039c579b4",
        "name" : "Delete Query Job",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "56429d84-2f10-3fe6-0000-000039c579b4",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ec380a5e-7fdc-38d8-0000-000039c579b4",
        "name" : "Get Query Job Result",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "dc4894c0-dabc-331f-9514-dab45d47202c",
        "name" : "Update State to ABORTED",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5ec5e44a-6c40-3d84-9847-5a8795d0a7a8",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1fda544a-62a2-3c65-0000-000039c579b4",
        "name" : "Abort Query Job",
        "type" : "PROCESSOR"
      },
      "zIndex" : 8
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -888.0,
        "y" : -32.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ec380a5e-7fdc-38d8-0000-000039c579b4",
        "name" : "Get Query Job Result",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "62f14674-c7a6-3eda-0000-000039c579b4",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "job.completed" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4b71001f-4d06-3943-0000-000039c579b4",
        "name" : "Get Query Job Status",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -888.0,
        "y" : -720.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f90b6988-9b28-39ef-0000-000039c579b4",
        "name" : "Split Objects",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "6719b3b8-2e99-3e60-0000-000039c579b4",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "127748a0-636b-3947-0000-000039c579b4",
        "name" : "List SFDC Objects",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d546cdcf-f204-3781-0000-000039c579b4",
        "name" : "Log Error",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "71eb3991-55bb-3db6-0000-000039c579b4",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "comms.failure", "failure", "job.aborted", "job.failed" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4b71001f-4d06-3943-0000-000039c579b4",
        "name" : "Get Query Job Status",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 192.0,
        "y" : 848.0
      }, {
        "x" : 656.0,
        "y" : 848.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "fa08dd27-b255-325a-0000-00006dfc42c7",
        "name" : "Update State to FAILED",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "793a8bf9-423e-3692-9783-87578aab0cce",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
        "id" : "c5e441aa-36d6-3c6a-8ab1-ff4f2de9fb9d",
        "name" : "failure",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 7
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "86038f15-a77d-3011-0000-00006c8a8f80",
        "name" : "Update State to COMPLETED",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "8210357a-ac5b-3738-839d-51793d6a1e49",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "fa53c8f6-6ff7-3a62-b5a7-30b14b34c00c",
        "name" : "INSERT with Snowpipe Streaming",
        "type" : "PROCESSOR"
      },
      "zIndex" : 15
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -888.0,
        "y" : -176.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4b71001f-4d06-3943-0000-000039c579b4",
        "name" : "Get Query Job Status",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "8c7362b3-018d-30f4-0000-000039c579b4",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d27e31cc-0614-3909-0000-000039c579b4",
        "name" : "Submit Query Job",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d546cdcf-f204-3781-0000-000039c579b4",
        "name" : "Log Error",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9efd197c-63b5-3fb8-8b2c-04e8bc167aeb",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure", "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1073176a-ed8e-3ee6-0000-00000c66388e",
        "name" : "Update State to FAILED",
        "type" : "PROCESSOR"
      },
      "zIndex" : 13
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "fa08dd27-b255-325a-0000-00006dfc42c7",
        "name" : "Update State to FAILED",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b26783c4-13e8-335d-8410-824b7dcf8796",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure", "illegal alteration", "table not found" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "6fdf8c54-c6c5-3435-0000-00007217bdad",
        "name" : "Alter Destination Table",
        "type" : "PROCESSOR"
      },
      "zIndex" : 23
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -888.0,
        "y" : -448.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "8619aded-149c-34bc-0000-000039c579b4",
        "name" : "Describe SFDC Object",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "bbc25f47-d683-37ee-0000-000039c579b4",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "38d24a6a-710b-323b-0000-000039c579b4",
        "name" : "Filter on specified objects #{Filter}",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -1088.0,
        "y" : 600.0
      }, {
        "x" : -1088.0,
        "y" : 1424.0
      }, {
        "x" : 656.0,
        "y" : 1424.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "fa08dd27-b255-325a-0000-00006dfc42c7",
        "name" : "Update State to FAILED",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c4197bd7-3707-39f8-a0e1-cfcf0011033d",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "fec211aa-253e-3f6b-acfb-2ed815699d36",
        "name" : "Create Destination Table",
        "type" : "PROCESSOR"
      },
      "zIndex" : 21
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "b098e6cf-aeca-33be-ffff-ffff8dd60f14",
        "name" : "Update State to FAILED",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "cfdbdd25-9dfc-3fd9-b951-f1349b42a62e",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "job.failed" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4b71001f-4d06-3943-0000-000039c579b4",
        "name" : "Get Query Job Status",
        "type" : "PROCESSOR"
      },
      "zIndex" : 9
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -888.0,
        "y" : -312.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d27e31cc-0614-3909-0000-000039c579b4",
        "name" : "Submit Query Job",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "db26a9c0-3a98-3bb6-0000-000039c579b4",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "8619aded-149c-34bc-0000-000039c579b4",
        "name" : "Describe SFDC Object",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "fa08dd27-b255-325a-0000-00006dfc42c7",
        "name" : "Update State to FAILED",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "dcdcfd8a-ad8c-31a1-0000-000039c579b4",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "comms.failure", "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "b3043827-a2e4-35b6-0000-000039c579b4",
        "name" : "Delete Query Job",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1fda544a-62a2-3c65-0000-000039c579b4",
        "name" : "Abort Query Job",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "dec5121e-788d-39d3-0000-000039c579b4",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "wait" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4b71001f-4d06-3943-0000-000039c579b4",
        "name" : "Get Query Job Status",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -800.0,
        "y" : 1352.0
      }, {
        "x" : 656.0,
        "y" : 1352.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "fa08dd27-b255-325a-0000-00006dfc42c7",
        "name" : "Update State to FAILED",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e1747a07-bb8e-341b-9595-627c855ac6eb",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "fa53c8f6-6ff7-3a62-b5a7-30b14b34c00c",
        "name" : "INSERT with Snowpipe Streaming",
        "type" : "PROCESSOR"
      },
      "zIndex" : 4
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 192.0,
        "y" : 1104.0
      }, {
        "x" : 656.0,
        "y" : 1104.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "fa08dd27-b255-325a-0000-00006dfc42c7",
        "name" : "Update State to FAILED",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e4e2cb85-854d-39fb-a442-dbdda2915865",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "86038f15-a77d-3011-0000-00006c8a8f80",
        "name" : "Update State to COMPLETED",
        "type" : "PROCESSOR"
      },
      "zIndex" : 17
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "b098e6cf-aeca-33be-ffff-ffff8dd60f14",
        "name" : "Update State to FAILED",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e95eda59-29a4-3013-0000-000039c579b4",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "comms.failure", "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ec380a5e-7fdc-38d8-0000-000039c579b4",
        "name" : "Get Query Job Result",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "fec211aa-253e-3f6b-acfb-2ed815699d36",
        "name" : "Create Destination Table",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f96954c5-dd30-3b41-8de6-d0673b2a78c2",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "newObject" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "5955e308-8d10-30b0-0000-000039c579b4",
        "name" : "Drop FFs with no processed records",
        "type" : "PROCESSOR"
      },
      "zIndex" : 1
    } ],
    "controllerServices" : [ {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-salesforce-service-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "runtime-salesforce-api-nar",
          "group" : "com.snowflake.openflow.runtime",
          "version" : "2026.1.22.19"
        },
        "type" : "com.snowflake.openflow.runtime.salesforce.api.SalesforceClientService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "08704b97-0deb-3f24-99ca-7b4188b53b69",
      "name" : "Salesforce Client Service",
      "properties" : {
        "Web Client Service" : "79c42fcc-b4fc-34c8-b9f5-5550f789683e",
        "Salesforce Instance" : "#{Salesforce Instance}",
        "API Version" : "65.0",
        "OAuth2 Access Token Provider" : "599d3c58-15ef-3e86-b568-4d2f993ae0dd"
      },
      "propertyDescriptors" : {
        "Web Client Service" : {
          "displayName" : "Web Client Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Web Client Service",
          "sensitive" : false
        },
        "Salesforce Instance" : {
          "displayName" : "Salesforce Instance",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Salesforce Instance",
          "sensitive" : false
        },
        "API Version" : {
          "displayName" : "API Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "API Version",
          "sensitive" : false
        },
        "OAuth2 Access Token Provider" : {
          "displayName" : "OAuth2 Access Token Provider",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "OAuth2 Access Token Provider",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "com.snowflake.openflow.runtime.services.salesforce.StandardSalesforceClientService"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-key-service-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.1.22.19"
        },
        "type" : "org.apache.nifi.key.service.api.PrivateKeyService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1379f7d6-de63-35ad-abf0-6b0028d2ab12",
      "name" : "Snowflake Private Key Service",
      "properties" : {
        "Key File" : "#{Snowflake Private Key File}",
        "Key Password" : "#{Snowflake Private Key Password}",
        "Key" : "#{Snowflake Private Key}"
      },
      "propertyDescriptors" : {
        "Key File" : {
          "displayName" : "Key File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "Key Password" : {
          "displayName" : "Key Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key Password",
          "sensitive" : true
        },
        "Key" : {
          "displayName" : "Key",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key",
          "sensitive" : true
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.key.service.StandardPrivateKeyService"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-key-service-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.1.22.19"
        },
        "type" : "org.apache.nifi.key.service.api.PrivateKeyService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "357895db-f4d1-35fe-a577-8dbf009f25cc",
      "name" : "Salesforce Private Key Service",
      "properties" : {
        "Key File" : "#{Connected App Key File}",
        "Key Password" : "#{Connected App Key Password}",
        "Key" : "#{Connected App Key}"
      },
      "propertyDescriptors" : {
        "Key File" : {
          "displayName" : "Key File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "Key Password" : {
          "displayName" : "Key Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key Password",
          "sensitive" : true
        },
        "Key" : {
          "displayName" : "Key",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key",
          "sensitive" : true
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.key.service.StandardPrivateKeyService"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-oauth2-provider-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.1.22.19"
        },
        "type" : "org.apache.nifi.oauth2.OAuth2AccessTokenProvider"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "599d3c58-15ef-3e86-b568-4d2f993ae0dd",
      "name" : "JWT Bearer OAuth2 Access Token Provider",
      "properties" : {
        "Set JWT Header X.509 Cert Thumbprint" : "false",
        "Assertion Parameter Name" : "assertion",
        "Issuer" : "#{OAuth2 Client ID}",
        "Audience" : "#{OAuth2 Audience}",
        "Grant Type" : "urn:ietf:params:oauth:grant-type:jwt-bearer",
        "Private Key Service" : "357895db-f4d1-35fe-a577-8dbf009f25cc",
        "Subject" : "#{OAuth2 Subject}",
        "Token Endpoint URL" : "#{OAuth2 Token Endpoint URL}",
        "Refresh Window" : "5 minutes",
        "Web Client Service" : "79c42fcc-b4fc-34c8-b9f5-5550f789683e",
        "Signing Algorithm" : "RS256",
        "JWT Expiration Time" : "1 hour"
      },
      "propertyDescriptors" : {
        "Set JWT Header X.509 Cert Thumbprint" : {
          "displayName" : "Set JWT Header X.509 Cert Thumbprint",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Set JWT Header X.509 Cert Thumbprint",
          "sensitive" : false
        },
        "Assertion Parameter Name" : {
          "displayName" : "Assertion Parameter Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Assertion Parameter Name",
          "sensitive" : false
        },
        "JWT ID" : {
          "displayName" : "JWT ID",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JWT ID",
          "sensitive" : false
        },
        "Issuer" : {
          "displayName" : "Issuer",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Issuer",
          "sensitive" : false
        },
        "Audience" : {
          "displayName" : "Audience",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Audience",
          "sensitive" : false
        },
        "Grant Type" : {
          "displayName" : "Grant Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Grant Type",
          "sensitive" : false
        },
        "Private Key Service" : {
          "displayName" : "Private Key Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Private Key Service",
          "sensitive" : false
        },
        "Subject" : {
          "displayName" : "Subject",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Subject",
          "sensitive" : false
        },
        "Token Endpoint URL" : {
          "displayName" : "Token Endpoint URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Token Endpoint URL",
          "sensitive" : false
        },
        "Refresh Window" : {
          "displayName" : "Refresh Window",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Refresh Window",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Scope" : {
          "displayName" : "Scope",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Scope",
          "sensitive" : false
        },
        "Web Client Service" : {
          "displayName" : "Web Client Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Web Client Service",
          "sensitive" : false
        },
        "Signing Algorithm" : {
          "displayName" : "Signing Algorithm",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Signing Algorithm",
          "sensitive" : false
        },
        "JWT Expiration Time" : {
          "displayName" : "JWT Expiration Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JWT Expiration Time",
          "sensitive" : false
        },
        "Key ID" : {
          "displayName" : "Key ID",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key ID",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.oauth2.JWTBearerOAuth2AccessTokenProvider"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.1.22.19"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "74376d39-b1f5-310f-814c-ed5389ecbd19",
      "name" : "CSV Reader",
      "properties" : {
        "Schema Text" : "${sObjectSchema}",
        "CSV Format" : "rfc-4180",
        "Quote Character" : "\"",
        "Value Separator" : ",",
        "Treat First Line as Header" : "true",
        "Schema Access Strategy" : "schema-text-property",
        "Ignore CSV Header Column Names" : "false",
        "Schema Name" : "${schema.name}",
        "Record Separator" : "\\n",
        "Timestamp Format" : "yyyy-MM-dd'T'HH:mm:ss.SSSX",
        "Escape Character" : "\\",
        "Date Format" : "yyyy-MM-dd",
        "Trim Double Quote" : "true",
        "Trim Fields" : "true",
        "Time Format" : "HH:mm:ss.SSSX",
        "Allow Duplicate Header Names" : "true",
        "CSV Parser" : "commons-csv",
        "Character Set" : "UTF-8"
      },
      "propertyDescriptors" : {
        "Schema Branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Branch",
          "sensitive" : false
        },
        "Schema Reference Reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Reader",
          "sensitive" : false
        },
        "Schema Text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Text",
          "sensitive" : false
        },
        "CSV Format" : {
          "displayName" : "CSV Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "CSV Format",
          "sensitive" : false
        },
        "Quote Character" : {
          "displayName" : "Quote Character",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Quote Character",
          "sensitive" : false
        },
        "Value Separator" : {
          "displayName" : "Value Separator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Value Separator",
          "sensitive" : false
        },
        "Schema Registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Registry",
          "sensitive" : false
        },
        "Treat First Line as Header" : {
          "displayName" : "Treat First Line as Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Treat First Line as Header",
          "sensitive" : false
        },
        "Schema Access Strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Access Strategy",
          "sensitive" : false
        },
        "Ignore CSV Header Column Names" : {
          "displayName" : "Ignore CSV Header Column Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ignore CSV Header Column Names",
          "sensitive" : false
        },
        "Schema Name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Name",
          "sensitive" : false
        },
        "Record Separator" : {
          "displayName" : "Record Separator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Record Separator",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Escape Character" : {
          "displayName" : "Escape Character",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Escape Character",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Trim Double Quote" : {
          "displayName" : "Trim Double Quote",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Trim Double Quote",
          "sensitive" : false
        },
        "Null String" : {
          "displayName" : "Null String",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null String",
          "sensitive" : false
        },
        "Trim Fields" : {
          "displayName" : "Trim Fields",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Trim Fields",
          "sensitive" : false
        },
        "Schema Version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Version",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "Comment Marker" : {
          "displayName" : "Comment Marker",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Comment Marker",
          "sensitive" : false
        },
        "Allow Duplicate Header Names" : {
          "displayName" : "Allow Duplicate Header Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Duplicate Header Names",
          "sensitive" : false
        },
        "CSV Parser" : {
          "displayName" : "CSV Parser",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "CSV Parser",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.csv.CSVReader"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-web-client-provider-service-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.1.22.19"
        },
        "type" : "org.apache.nifi.web.client.provider.api.WebClientServiceProvider"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "79c42fcc-b4fc-34c8-b9f5-5550f789683e",
      "name" : "Web Client Service Provider",
      "properties" : {
        "Connect Timeout" : "30 secs",
        "Write Timeout" : "60 secs",
        "Redirect Handling Strategy" : "FOLLOWED",
        "HTTP Protocol Version" : "HTTP_2",
        "Read Timeout" : "60 secs"
      },
      "propertyDescriptors" : {
        "Connect Timeout" : {
          "displayName" : "Connect Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connect Timeout",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Write Timeout" : {
          "displayName" : "Write Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Write Timeout",
          "sensitive" : false
        },
        "Redirect Handling Strategy" : {
          "displayName" : "Redirect Handling Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Redirect Handling Strategy",
          "sensitive" : false
        },
        "HTTP Protocol Version" : {
          "displayName" : "HTTP Protocol Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP Protocol Version",
          "sensitive" : false
        },
        "Read Timeout" : {
          "displayName" : "Read Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Read Timeout",
          "sensitive" : false
        },
        "Proxy Configuration Service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Proxy Configuration Service",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.web.client.provider.service.StandardWebClientServiceProvider"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.1.22.19"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9460337d-0707-3a32-8e10-ec40c1aa7de5",
      "name" : "JSON Reader",
      "properties" : {
        "Schema Text" : "${avro.schema}",
        "Max String Length" : "20 MB",
        "Starting Field Strategy" : "ROOT_NODE",
        "Schema Access Strategy" : "infer-schema",
        "Schema Name" : "${schema.name}",
        "Schema Application Strategy" : "SELECTED_PART",
        "Allow Comments" : "false"
      },
      "propertyDescriptors" : {
        "Schema Branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Branch",
          "sensitive" : false
        },
        "Schema Reference Reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Reader",
          "sensitive" : false
        },
        "Schema Text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Text",
          "sensitive" : false
        },
        "Starting Field Name" : {
          "displayName" : "Starting Field Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Starting Field Name",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Schema Inference Cache" : {
          "displayName" : "Schema Inference Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Inference Cache",
          "sensitive" : false
        },
        "Starting Field Strategy" : {
          "displayName" : "Starting Field Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Starting Field Strategy",
          "sensitive" : false
        },
        "Schema Registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Registry",
          "sensitive" : false
        },
        "Schema Access Strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Access Strategy",
          "sensitive" : false
        },
        "Schema Name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Name",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Schema Application Strategy" : {
          "displayName" : "Schema Application Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Application Strategy",
          "sensitive" : false
        },
        "Schema Version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Version",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "Allow Comments" : {
          "displayName" : "Allow Comments",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Comments",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonTreeReader"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-salesforce-service-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "runtime-salesforce-api-nar",
          "group" : "com.snowflake.openflow.runtime",
          "version" : "2026.1.22.19"
        },
        "type" : "com.snowflake.openflow.runtime.salesforce.api.SalesforceBulkJobStateService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "989c2b5b-0c1c-3b58-8771-79c14551f112",
      "name" : "Salesforce Bulk Jobs State",
      "properties" : { },
      "propertyDescriptors" : { },
      "scheduledState" : "DISABLED",
      "type" : "com.snowflake.openflow.runtime.services.salesforce.StandardSalesforceBulkJobsStateService"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-snowflake-connection-service-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.1.22.19"
        },
        "type" : "org.apache.nifi.dbcp.DBCPService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a9c1971f-c26c-3ecb-8e2f-9651e5360396",
      "name" : "Snowflake Connection Service",
      "properties" : {
        "Account" : "#{Snowflake Account Identifier}",
        "Warehouse" : "#{Snowflake Warehouse}",
        "User" : "#{Snowflake Username}",
        "Maximum Connections" : "10",
        "Maximum Lifetime" : "30 minutes",
        "Schema" : "#{Destination Schema}",
        "Private Key Service" : "1379f7d6-de63-35ad-abf0-6b0028d2ab12",
        "Connection Strategy" : "STANDARD",
        "Connection Timeout" : "30 seconds",
        "Role" : "#{Snowflake Role}",
        "Idle Timeout" : "10 minutes",
        "Authentication Strategy" : "#{Snowflake Authentication Strategy}",
        "Database Name" : "#{Destination Database}",
        "Network Timeout" : "5 minutes"
      },
      "propertyDescriptors" : {
        "Account" : {
          "displayName" : "Account",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Account",
          "sensitive" : false
        },
        "Warehouse" : {
          "displayName" : "Warehouse",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Warehouse",
          "sensitive" : false
        },
        "User" : {
          "displayName" : "User",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "User",
          "sensitive" : false
        },
        "Maximum Connections" : {
          "displayName" : "Maximum Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Connections",
          "sensitive" : false
        },
        "Maximum Lifetime" : {
          "displayName" : "Maximum Lifetime",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Lifetime",
          "sensitive" : false
        },
        "Schema" : {
          "displayName" : "Schema",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema",
          "sensitive" : false
        },
        "Private Key Service" : {
          "displayName" : "Private Key Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Private Key Service",
          "sensitive" : false
        },
        "Connection Strategy" : {
          "displayName" : "Connection Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Strategy",
          "sensitive" : false
        },
        "Connection Timeout" : {
          "displayName" : "Connection Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Timeout",
          "sensitive" : false
        },
        "Role" : {
          "displayName" : "Role",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Role",
          "sensitive" : false
        },
        "Idle Timeout" : {
          "displayName" : "Idle Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Idle Timeout",
          "sensitive" : false
        },
        "Authentication Strategy" : {
          "displayName" : "Authentication Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Authentication Strategy",
          "sensitive" : false
        },
        "Database Name" : {
          "displayName" : "Database Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Name",
          "sensitive" : false
        },
        "Network Timeout" : {
          "displayName" : "Network Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Network Timeout",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "com.snowflake.openflow.runtime.services.snowflake.SnowflakeConnectionService"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.1.22.19"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f4796eec-3653-34d4-93d5-e3af9eeed538",
      "name" : "JSON Writer",
      "properties" : {
        "Schema Text" : "${avro.schema}",
        "Allow Scientific Notation" : "false",
        "Compression Level" : "1",
        "Output Grouping" : "output-array",
        "Schema Access Strategy" : "inherit-record-schema",
        "Schema Name" : "${schema.name}",
        "Pretty Print JSON" : "false",
        "Suppress Null Values" : "never-suppress",
        "Schema Write Strategy" : "no-schema",
        "Compression Format" : "none"
      },
      "propertyDescriptors" : {
        "Schema Branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Branch",
          "sensitive" : false
        },
        "Schema Reference Reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Reader",
          "sensitive" : false
        },
        "Schema Text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Text",
          "sensitive" : false
        },
        "Allow Scientific Notation" : {
          "displayName" : "Allow Scientific Notation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Scientific Notation",
          "sensitive" : false
        },
        "Compression Level" : {
          "displayName" : "Compression Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Compression Level",
          "sensitive" : false
        },
        "Output Grouping" : {
          "displayName" : "Output Grouping",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Grouping",
          "sensitive" : false
        },
        "Schema Registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Registry",
          "sensitive" : false
        },
        "Schema Access Strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Access Strategy",
          "sensitive" : false
        },
        "Schema Name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Name",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Pretty Print JSON" : {
          "displayName" : "Pretty Print JSON",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print JSON",
          "sensitive" : false
        },
        "Suppress Null Values" : {
          "displayName" : "Suppress Null Values",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Suppress Null Values",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "Compression Format" : {
          "displayName" : "Compression Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Compression Format",
          "sensitive" : false
        },
        "Schema Cache" : {
          "displayName" : "Schema Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Cache",
          "sensitive" : false
        },
        "Schema Version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Version",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "Schema Reference Writer" : {
          "displayName" : "Schema Reference Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Writer",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonRecordSetWriter"
    } ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 400.0,
      "identifier" : "28f6d7e4-fbab-3786-a26e-b90ce09d7e7f",
      "label" : "INITIAL LOAD WITH TABLE CREATION",
      "position" : {
        "x" : -1008.0,
        "y" : 496.0
      },
      "style" : {
        "background-color" : "#031f45",
        "font-size" : "12px"
      },
      "width" : 416.0,
      "zIndex" : 1
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 464.0,
      "identifier" : "768752b9-8060-3e83-ffff-fffffef10f6b",
      "label" : "INCREMENTAL LOAD WITH SCHEMA EVOLUTION",
      "position" : {
        "x" : -496.0,
        "y" : 504.0
      },
      "style" : {
        "background-color" : "#031f45",
        "font-size" : "12px"
      },
      "width" : 416.0,
      "zIndex" : 1
    } ],
    "maxConcurrentTasks" : 1,
    "name" : "Salesforce Bulk API",
    "outputPorts" : [ ],
    "parameterContextName" : "Salesforce Bulk API Ingestion Parameters",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
          "id" : "ab5b83bf-c793-33b0-a9d1-2c93b5b8626c",
          "name" : "Merge Into and Drop Staging",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
        "identifier" : "0138b19a-0830-3fe9-8072-a0d0ba57a9a2",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
          "id" : "b18db56a-73db-33aa-b301-4bd31282ac4f",
          "name" : "Ingest data into STAGING",
          "type" : "PROCESSOR"
        },
        "zIndex" : 5
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ {
          "x" : -632.0,
          "y" : 440.0
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
          "id" : "152b20dd-7a43-380b-a93a-dc2dca886609",
          "name" : "success",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
        "identifier" : "09b0bfa3-601d-3f99-ae3f-f2ffcae456bf",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
          "id" : "8eeada18-a942-3a95-0000-00007c969924",
          "name" : "INSERT with Snowpipe Streaming",
          "type" : "PROCESSOR"
        },
        "zIndex" : 12
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
          "id" : "152b20dd-7a43-380b-a93a-dc2dca886609",
          "name" : "success",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
        "identifier" : "0f0b2c76-f850-3236-b258-b66fcf0ccf22",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
          "id" : "ab5b83bf-c793-33b0-a9d1-2c93b5b8626c",
          "name" : "Merge Into and Drop Staging",
          "type" : "PROCESSOR"
        },
        "zIndex" : 7
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
          "id" : "c5e441aa-36d6-3c6a-8ab1-ff4f2de9fb9d",
          "name" : "failure",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
        "identifier" : "16971fd4-3871-324c-b768-b5e0838b7c19",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
          "id" : "ab5b83bf-c793-33b0-a9d1-2c93b5b8626c",
          "name" : "Merge Into and Drop Staging",
          "type" : "PROCESSOR"
        },
        "zIndex" : 6
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
          "id" : "e693953d-06a8-3455-0000-0000728b6495",
          "name" : "CREATE OR REPLACE STAGING",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
        "identifier" : "4dc4345a-881b-36d5-baf2-c4de145bc716",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "needsMerging" ],
        "source" : {
          "comments" : "",
          "groupId" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
          "id" : "7fc9c9d1-d3f1-39ee-ffff-ffffb82db52f",
          "name" : "Is data merging needed?",
          "type" : "PROCESSOR"
        },
        "zIndex" : 14
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
          "id" : "c5e441aa-36d6-3c6a-8ab1-ff4f2de9fb9d",
          "name" : "failure",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
        "identifier" : "743954e7-590d-324a-ba5c-8b7cc154dfb1",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
          "id" : "e693953d-06a8-3455-0000-0000728b6495",
          "name" : "CREATE OR REPLACE STAGING",
          "type" : "PROCESSOR"
        },
        "zIndex" : 9
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
          "id" : "b18db56a-73db-33aa-b301-4bd31282ac4f",
          "name" : "Ingest data into STAGING",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
        "identifier" : "87423566-c3a4-3648-a90c-39e5b5da7219",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
          "id" : "e693953d-06a8-3455-0000-0000728b6495",
          "name" : "CREATE OR REPLACE STAGING",
          "type" : "PROCESSOR"
        },
        "zIndex" : 8
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
          "id" : "7fc9c9d1-d3f1-39ee-ffff-ffffb82db52f",
          "name" : "Is data merging needed?",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
        "identifier" : "88495d74-a136-3321-b2ec-e82a24b19c20",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "groupId" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
          "id" : "32242a9f-4bfd-336e-8f0e-74f11f5c0f97",
          "name" : "data",
          "type" : "INPUT_PORT"
        },
        "zIndex" : 1
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
          "id" : "8eeada18-a942-3a95-0000-00007c969924",
          "name" : "INSERT with Snowpipe Streaming",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
        "identifier" : "8c1c2dc1-db34-3ef8-bed6-2768b22f00b6",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "unmatched" ],
        "source" : {
          "comments" : "",
          "groupId" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
          "id" : "7fc9c9d1-d3f1-39ee-ffff-ffffb82db52f",
          "name" : "Is data merging needed?",
          "type" : "PROCESSOR"
        },
        "zIndex" : 11
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
          "id" : "c5e441aa-36d6-3c6a-8ab1-ff4f2de9fb9d",
          "name" : "failure",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
        "identifier" : "c2aec8c1-38d0-38d7-a7c0-e90ecda1eb58",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
          "id" : "b18db56a-73db-33aa-b301-4bd31282ac4f",
          "name" : "Ingest data into STAGING",
          "type" : "PROCESSOR"
        },
        "zIndex" : 4
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ {
          "x" : -824.0,
          "y" : 512.0
        }, {
          "x" : 448.0,
          "y" : 512.0
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
          "id" : "c5e441aa-36d6-3c6a-8ab1-ff4f2de9fb9d",
          "name" : "failure",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
        "identifier" : "e0c58c59-2247-3df5-82b3-7991472be33f",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
          "id" : "8eeada18-a942-3a95-0000-00007c969924",
          "name" : "INSERT with Snowpipe Streaming",
          "type" : "PROCESSOR"
        },
        "zIndex" : 13
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "SINGLE_FLOWFILE_PER_NODE",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
      "inputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
        "identifier" : "32242a9f-4bfd-336e-8f0e-74f11f5c0f97",
        "name" : "data",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -704.0,
          "y" : -616.0
        },
        "scheduledState" : "ENABLED",
        "type" : "INPUT_PORT"
      } ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "Staging and Merge Into",
      "outputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
        "identifier" : "152b20dd-7a43-380b-a93a-dc2dca886609",
        "name" : "success",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -344.0,
          "y" : 416.0
        },
        "scheduledState" : "ENABLED",
        "type" : "OUTPUT_PORT"
      }, {
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
        "identifier" : "c5e441aa-36d6-3c6a-8ab1-ff4f2de9fb9d",
        "name" : "failure",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : 328.0,
          "y" : 32.0
        },
        "scheduledState" : "ENABLED",
        "type" : "OUTPUT_PORT"
      } ],
      "parameterContextName" : "Salesforce Bulk API Ingestion Parameters",
      "position" : {
        "x" : -472.0,
        "y" : 760.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.1.22.19"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
        "identifier" : "7fc9c9d1-d3f1-39ee-ffff-ffffb82db52f",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Is data merging needed?",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -760.0,
          "y" : -448.0
        },
        "properties" : {
          "Routing Strategy" : "Route to Property name",
          "needsMerging" : "${timestampField:isEmpty():or(${timestampField:equals(\"SystemModstamp\")}):or(${timestampField:equals(\"LastModifiedDate\")})}"
        },
        "propertyDescriptors" : {
          "Routing Strategy" : {
            "displayName" : "Routing Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Routing Strategy",
            "sensitive" : false
          },
          "needsMerging" : {
            "displayName" : "needsMerging",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "needsMerging",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "runtime-snowpipe-processors-nar",
          "group" : "com.snowflake.openflow.runtime",
          "version" : "2026.1.22.19"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
        "identifier" : "8eeada18-a942-3a95-0000-00007c969924",
        "maxBackoffPeriod" : "10 mins",
        "name" : "INSERT with Snowpipe Streaming",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -1000.0,
          "y" : -40.0
        },
        "properties" : {
          "Account" : "#{Snowflake Account Identifier}",
          "User" : "#{Snowflake Username}",
          "Table" : "${name:toUpper()}",
          "Max Batch Size" : "10000",
          "Schema" : "#{Destination Schema}",
          "Max Tasks Per Group" : "1",
          "Record Reader" : "74376d39-b1f5-310f-814c-ed5389ecbd19",
          "Iceberg Enabled" : "false",
          "Private Key Service" : "1379f7d6-de63-35ad-abf0-6b0028d2ab12",
          "Connection Strategy" : "STANDARD",
          "Role" : "#{Snowflake Role}",
          "Snowpipe Channel Prefix" : "${hostname(false)}",
          "Client Lag" : "1 sec",
          "Authentication Strategy" : "#{Snowflake Authentication Strategy}",
          "Delivery Guarantee" : "At least once",
          "Database" : "#{Destination Database}"
        },
        "propertyDescriptors" : {
          "Account" : {
            "displayName" : "Account",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Account",
            "sensitive" : false
          },
          "User" : {
            "displayName" : "User",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "User",
            "sensitive" : false
          },
          "Table" : {
            "displayName" : "Table",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Table",
            "sensitive" : false
          },
          "Concurrency Group" : {
            "displayName" : "Concurrency Group",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Concurrency Group",
            "sensitive" : false
          },
          "Max Batch Size" : {
            "displayName" : "Max Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Batch Size",
            "sensitive" : false
          },
          "Schema" : {
            "displayName" : "Schema",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema",
            "sensitive" : false
          },
          "Max Tasks Per Group" : {
            "displayName" : "Max Tasks Per Group",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Tasks Per Group",
            "sensitive" : false
          },
          "Record Offset" : {
            "displayName" : "Record Offset",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Record Offset",
            "sensitive" : false
          },
          "Record Reader" : {
            "displayName" : "Record Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Reader",
            "sensitive" : false
          },
          "Iceberg Enabled" : {
            "displayName" : "Iceberg Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Iceberg Enabled",
            "sensitive" : false
          },
          "Snowpipe Channel Index" : {
            "displayName" : "Snowpipe Channel Index",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Snowpipe Channel Index",
            "sensitive" : false
          },
          "Private Key Service" : {
            "displayName" : "Private Key Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Private Key Service",
            "sensitive" : false
          },
          "Connection Strategy" : {
            "displayName" : "Connection Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Connection Strategy",
            "sensitive" : false
          },
          "Role" : {
            "displayName" : "Role",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Role",
            "sensitive" : false
          },
          "Record Offset Strategy" : {
            "displayName" : "Record Offset Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Record Offset Strategy",
            "sensitive" : false
          },
          "Snowpipe Channel Prefix" : {
            "displayName" : "Snowpipe Channel Prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Snowpipe Channel Prefix",
            "sensitive" : false
          },
          "Client Lag" : {
            "displayName" : "Client Lag",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Client Lag",
            "sensitive" : false
          },
          "Authentication Strategy" : {
            "displayName" : "Authentication Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Authentication Strategy",
            "sensitive" : false
          },
          "Delivery Guarantee" : {
            "displayName" : "Delivery Guarantee",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Delivery Guarantee",
            "sensitive" : false
          },
          "Record Offset Record Path" : {
            "displayName" : "Record Offset Record Path",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Record Offset Record Path",
            "sensitive" : false
          },
          "Database" : {
            "displayName" : "Database",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Database",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ "failure" ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "com.snowflake.openflow.runtime.processors.snowpipe.PutSnowpipeStreaming",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.1.22.19"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
        "identifier" : "ab5b83bf-c793-33b0-a9d1-2c93b5b8626c",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Merge Into and Drop Staging",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -400.0,
          "y" : 200.0
        },
        "properties" : {
          "Set Auto Commit" : "true",
          "Max Wait Time" : "0 seconds",
          "SQL Query" : "${#{'Object Identifier Resolution'}:equals(\"CASE_INSENSITIVE\"):ifElse(${mergeQuery:toUpper()}, ${mergeQuery})}",
          "Database Connection Pooling Service" : "a9c1971f-c26c-3ecb-8e2f-9651e5360396",
          "Default Decimal Scale" : "0",
          "SQL Post-Query" : "DROP TABLE STAGING_${name:toUpper()}",
          "Fetch Size" : "0",
          "Output Batch Size" : "0",
          "Use Avro Logical Types" : "false",
          "Compression Format" : "NONE",
          "Normalize Table and Column Names" : "false",
          "SQL Pre-Query" : "CREATE OR REPLACE TABLE STAGING_${name:toUpper()} AS\nSELECT * EXCLUDE (__ROW_NUMBER)\nFROM (\n    SELECT\n        s.*,\n        ROW_NUMBER() OVER (PARTITION BY ${#{'Object Identifier Resolution'}:equals(\"CASE_INSENSITIVE\"):ifElse('\"ID\"', '\"Id\"')} \n            ORDER BY ${#{'Object Identifier Resolution'}:equals(\"CASE_INSENSITIVE\"):ifElse(${timestampField:replaceEmpty(\"SystemModstamp\"):toUpper()}, ${timestampField:replaceEmpty(\"SystemModstamp\"):append('\"'):prepend('\"')})} DESC)\n        AS __ROW_NUMBER\n    FROM STAGING_${name:toUpper()} s\n) AS DEDUPED\nWHERE __ROW_NUMBER = 1;",
          "Default Decimal Precision" : "10",
          "Content Output Strategy" : "EMPTY",
          "Max Rows Per Flow File" : "0"
        },
        "propertyDescriptors" : {
          "Set Auto Commit" : {
            "displayName" : "Set Auto Commit",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Set Auto Commit",
            "sensitive" : false
          },
          "Max Wait Time" : {
            "displayName" : "Max Wait Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Wait Time",
            "sensitive" : false
          },
          "SQL Query" : {
            "displayName" : "SQL Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "SQL Query",
            "sensitive" : false
          },
          "Database Connection Pooling Service" : {
            "displayName" : "Database Connection Pooling Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Database Connection Pooling Service",
            "sensitive" : false
          },
          "Default Decimal Scale" : {
            "displayName" : "Default Decimal Scale",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Default Decimal Scale",
            "sensitive" : false
          },
          "SQL Post-Query" : {
            "displayName" : "SQL Post-Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "SQL Post-Query",
            "sensitive" : false
          },
          "Fetch Size" : {
            "displayName" : "Fetch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Fetch Size",
            "sensitive" : false
          },
          "Output Batch Size" : {
            "displayName" : "Output Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Output Batch Size",
            "sensitive" : false
          },
          "Use Avro Logical Types" : {
            "displayName" : "Use Avro Logical Types",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Use Avro Logical Types",
            "sensitive" : false
          },
          "Compression Format" : {
            "displayName" : "Compression Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Compression Format",
            "sensitive" : false
          },
          "Normalize Table and Column Names" : {
            "displayName" : "Normalize Table and Column Names",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Normalize Table and Column Names",
            "sensitive" : false
          },
          "SQL Pre-Query" : {
            "displayName" : "SQL Pre-Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "SQL Pre-Query",
            "sensitive" : false
          },
          "Default Decimal Precision" : {
            "displayName" : "Default Decimal Precision",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Default Decimal Precision",
            "sensitive" : false
          },
          "Content Output Strategy" : {
            "displayName" : "Content Output Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Content Output Strategy",
            "sensitive" : false
          },
          "Max Rows Per Flow File" : {
            "displayName" : "Max Rows Per Flow File",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Rows Per Flow File",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ "failure" ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "runtime-snowpipe-processors-nar",
          "group" : "com.snowflake.openflow.runtime",
          "version" : "2026.1.22.19"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
        "identifier" : "b18db56a-73db-33aa-b301-4bd31282ac4f",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Ingest data into STAGING",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -400.0,
          "y" : -8.0
        },
        "properties" : {
          "Account" : "#{Snowflake Account Identifier}",
          "User" : "#{Snowflake Username}",
          "Table" : "STAGING_${name:toUpper()}",
          "Max Batch Size" : "10000",
          "Schema" : "#{Destination Schema}",
          "Max Tasks Per Group" : "1",
          "Record Reader" : "74376d39-b1f5-310f-814c-ed5389ecbd19",
          "Iceberg Enabled" : "false",
          "Private Key Service" : "1379f7d6-de63-35ad-abf0-6b0028d2ab12",
          "Connection Strategy" : "STANDARD",
          "Role" : "#{Snowflake Role}",
          "Snowpipe Channel Prefix" : "${hostname(false)}",
          "Client Lag" : "1 sec",
          "Authentication Strategy" : "#{Snowflake Authentication Strategy}",
          "Delivery Guarantee" : "At least once",
          "Database" : "#{Destination Database}"
        },
        "propertyDescriptors" : {
          "Account" : {
            "displayName" : "Account",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Account",
            "sensitive" : false
          },
          "User" : {
            "displayName" : "User",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "User",
            "sensitive" : false
          },
          "Table" : {
            "displayName" : "Table",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Table",
            "sensitive" : false
          },
          "Concurrency Group" : {
            "displayName" : "Concurrency Group",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Concurrency Group",
            "sensitive" : false
          },
          "Max Batch Size" : {
            "displayName" : "Max Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Batch Size",
            "sensitive" : false
          },
          "Schema" : {
            "displayName" : "Schema",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema",
            "sensitive" : false
          },
          "Max Tasks Per Group" : {
            "displayName" : "Max Tasks Per Group",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Tasks Per Group",
            "sensitive" : false
          },
          "Record Offset" : {
            "displayName" : "Record Offset",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Record Offset",
            "sensitive" : false
          },
          "Record Reader" : {
            "displayName" : "Record Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Reader",
            "sensitive" : false
          },
          "Iceberg Enabled" : {
            "displayName" : "Iceberg Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Iceberg Enabled",
            "sensitive" : false
          },
          "Snowpipe Channel Index" : {
            "displayName" : "Snowpipe Channel Index",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Snowpipe Channel Index",
            "sensitive" : false
          },
          "Private Key Service" : {
            "displayName" : "Private Key Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Private Key Service",
            "sensitive" : false
          },
          "Connection Strategy" : {
            "displayName" : "Connection Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Connection Strategy",
            "sensitive" : false
          },
          "Role" : {
            "displayName" : "Role",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Role",
            "sensitive" : false
          },
          "Record Offset Strategy" : {
            "displayName" : "Record Offset Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Record Offset Strategy",
            "sensitive" : false
          },
          "Snowpipe Channel Prefix" : {
            "displayName" : "Snowpipe Channel Prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Snowpipe Channel Prefix",
            "sensitive" : false
          },
          "Client Lag" : {
            "displayName" : "Client Lag",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Client Lag",
            "sensitive" : false
          },
          "Authentication Strategy" : {
            "displayName" : "Authentication Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Authentication Strategy",
            "sensitive" : false
          },
          "Delivery Guarantee" : {
            "displayName" : "Delivery Guarantee",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Delivery Guarantee",
            "sensitive" : false
          },
          "Record Offset Record Path" : {
            "displayName" : "Record Offset Record Path",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Record Offset Record Path",
            "sensitive" : false
          },
          "Database" : {
            "displayName" : "Database",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Database",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ "failure" ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "com.snowflake.openflow.runtime.processors.snowpipe.PutSnowpipeStreaming",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "runtime-snowflake-processors-nar",
          "group" : "com.snowflake.openflow.runtime",
          "version" : "2026.1.22.19"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "3a06c801-61ac-3dc9-bcb7-30c655e9e886",
        "identifier" : "e693953d-06a8-3455-0000-0000728b6495",
        "maxBackoffPeriod" : "10 mins",
        "name" : "CREATE OR REPLACE STAGING",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -400.0,
          "y" : -216.0
        },
        "properties" : {
          "Use Table Metadata Cache" : "false",
          "Table Name" : "STAGING_${name:toUpper()}",
          "Alter Column Type Strategy" : "Fail",
          "Column Removal Strategy" : "Drop Column",
          "Table Metadata Cache Expiration Time" : "30 sec",
          "Update Type" : "Create or Replace Table",
          "Max Batch Size" : "1",
          "Object Identifier Resolution" : "#{Object Identifier Resolution}",
          "Include Not Null Constraints" : "true",
          "Drop Not Null Strategy" : "Alter Table",
          "Add Not Null Strategy" : "Alter Table",
          "Record Reader" : "74376d39-b1f5-310f-814c-ed5389ecbd19",
          "Modify Primary Key Strategy" : "Alter Table",
          "Table Schema Strategy" : "Use Record Reader",
          "Schema Name" : "#{Destination Schema}",
          "Include Default Values" : "false",
          "Drop Column Strategy" : "Alter Table",
          "Add Column Strategy" : "Alter Table",
          "Connection Pool" : "a9c1971f-c26c-3ecb-8e2f-9651e5360396",
          "Include Primary Key Constraints" : "true"
        },
        "propertyDescriptors" : {
          "Use Table Metadata Cache" : {
            "displayName" : "Use Table Metadata Cache",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Use Table Metadata Cache",
            "sensitive" : false
          },
          "Table Name" : {
            "displayName" : "Table Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Table Name",
            "sensitive" : false
          },
          "Alter Column Type Strategy" : {
            "displayName" : "Alter Column Type Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Alter Column Type Strategy",
            "sensitive" : false
          },
          "Column Removal Strategy" : {
            "displayName" : "Column Removal Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Column Removal Strategy",
            "sensitive" : false
          },
          "Table Metadata Cache Expiration Time" : {
            "displayName" : "Table Metadata Cache Expiration Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Table Metadata Cache Expiration Time",
            "sensitive" : false
          },
          "Update Type" : {
            "displayName" : "Update Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Update Type",
            "sensitive" : false
          },
          "Max Batch Size" : {
            "displayName" : "Max Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Batch Size",
            "sensitive" : false
          },
          "Object Identifier Resolution" : {
            "displayName" : "Object Identifier Resolution",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Object Identifier Resolution",
            "sensitive" : false
          },
          "Include Not Null Constraints" : {
            "displayName" : "Include Not Null Constraints",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Include Not Null Constraints",
            "sensitive" : false
          },
          "Column Name Transformation" : {
            "displayName" : "Column Name Transformation",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Column Name Transformation",
            "sensitive" : false
          },
          "Removed Column Name Suffix" : {
            "displayName" : "Removed Column Name Suffix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Removed Column Name Suffix",
            "sensitive" : false
          },
          "Drop Not Null Strategy" : {
            "displayName" : "Drop Not Null Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Drop Not Null Strategy",
            "sensitive" : false
          },
          "Add Not Null Strategy" : {
            "displayName" : "Add Not Null Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Add Not Null Strategy",
            "sensitive" : false
          },
          "Record Reader" : {
            "displayName" : "Record Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Reader",
            "sensitive" : false
          },
          "Creation Parameters" : {
            "displayName" : "Creation Parameters",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Creation Parameters",
            "sensitive" : false
          },
          "Desired Schema" : {
            "displayName" : "Desired Schema",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Desired Schema",
            "sensitive" : false
          },
          "Modify Primary Key Strategy" : {
            "displayName" : "Modify Primary Key Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Modify Primary Key Strategy",
            "sensitive" : false
          },
          "Table Schema Strategy" : {
            "displayName" : "Table Schema Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Table Schema Strategy",
            "sensitive" : false
          },
          "Schema Name" : {
            "displayName" : "Schema Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Name",
            "sensitive" : false
          },
          "Include Default Values" : {
            "displayName" : "Include Default Values",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Include Default Values",
            "sensitive" : false
          },
          "Drop Column Strategy" : {
            "displayName" : "Drop Column Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Drop Column Strategy",
            "sensitive" : false
          },
          "Add Column Strategy" : {
            "displayName" : "Add Column Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Add Column Strategy",
            "sensitive" : false
          },
          "Connection Pool" : {
            "displayName" : "Connection Pool",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Connection Pool",
            "sensitive" : false
          },
          "Include Primary Key Constraints" : {
            "displayName" : "Include Primary Key Constraints",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Include Primary Key Constraints",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ "failure" ],
        "retryCount" : 5,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "com.snowflake.openflow.runtime.processors.snowflake.UpdateSnowflakeTable",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    } ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "006c21c3-b781-356e-0000-000039c579b4",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Log Error",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1176.0,
        "y" : 536.0
      },
      "properties" : {
        "Log Message" : "Error in Salesforce connector, failed to successfully process data",
        "Log Level" : "error",
        "Log Prefix" : "SALESFORCE_BULK_API - "
      },
      "propertyDescriptors" : {
        "Log Message" : {
          "displayName" : "Log Message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Message",
          "sensitive" : false
        },
        "Log Level" : {
          "displayName" : "Log Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Level",
          "sensitive" : false
        },
        "Log Prefix" : {
          "displayName" : "Log Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Prefix",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.LogMessage",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-salesforce-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1073176a-ed8e-3ee6-0000-00000c66388e",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Update State to FAILED",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1176.0,
        "y" : -168.0
      },
      "properties" : {
        "Status" : "FAILED",
        "Salesforce Bulk Job State Service" : "989c2b5b-0c1c-3b58-8771-79c14551f112",
        "Object Type" : "${name}"
      },
      "propertyDescriptors" : {
        "Status" : {
          "displayName" : "Status",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Status",
          "sensitive" : false
        },
        "Salesforce Bulk Job State Service" : {
          "displayName" : "Salesforce Bulk Job State Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Salesforce Bulk Job State Service",
          "sensitive" : false
        },
        "Object Type" : {
          "displayName" : "Object Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Object Type",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "failure" ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.salesforce.UpdateBulkJobState",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-salesforce-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "PRIMARY",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "127748a0-636b-3947-0000-000039c579b4",
      "maxBackoffPeriod" : "10 mins",
      "name" : "List SFDC Objects",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -736.8410063094348,
        "y" : -847.9999297314162
      },
      "properties" : {
        "Salesforce Client" : "08704b97-0deb-3f24-99ca-7b4188b53b69"
      },
      "propertyDescriptors" : {
        "Salesforce Client" : {
          "displayName" : "Salesforce Client",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Salesforce Client",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "#{Run Schedule}",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.salesforce.ListSFDCObjects",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-salesforce-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1fda544a-62a2-3c65-0000-000039c579b4",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Abort Query Job",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 480.0,
        "y" : -168.0
      },
      "properties" : {
        "Job ID" : "${jobId}",
        "Salesforce Client" : "08704b97-0deb-3f24-99ca-7b4188b53b69"
      },
      "propertyDescriptors" : {
        "Job ID" : {
          "displayName" : "Job ID",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Job ID",
          "sensitive" : false
        },
        "Salesforce Client" : {
          "displayName" : "Salesforce Client",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Salesforce Client",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "comms.failure" ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.salesforce.AbortQueryJob",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "unmatched" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "38d24a6a-710b-323b-0000-000039c579b4",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Filter on specified objects #{Filter}",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -736.8410063094348,
        "y" : -575.9999297314162
      },
      "properties" : {
        "Routing Strategy" : "Route to 'match' if all match",
        "filtering" : "${name:matches(${#{Filter}:replaceAll(',\\\\s*', '|'):replaceEmpty('.*')})}"
      },
      "propertyDescriptors" : {
        "Routing Strategy" : {
          "displayName" : "Routing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Routing Strategy",
          "sensitive" : false
        },
        "filtering" : {
          "displayName" : "filtering",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "filtering",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-salesforce-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4b71001f-4d06-3943-0000-000039c579b4",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Get Query Job Status",
      "penaltyDuration" : "10 sec",
      "position" : {
        "x" : -736.0,
        "y" : -168.0
      },
      "properties" : {
        "Job ID" : "${jobId}",
        "Salesforce Client" : "08704b97-0deb-3f24-99ca-7b4188b53b69"
      },
      "propertyDescriptors" : {
        "Job ID" : {
          "displayName" : "Job ID",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Job ID",
          "sensitive" : false
        },
        "Salesforce Client" : {
          "displayName" : "Salesforce Client",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Salesforce Client",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "comms.failure", "failure", "wait" ],
      "retryCount" : 200,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.salesforce.GetQueryJobStatus",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5955e308-8d10-30b0-0000-000039c579b4",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Drop FFs with no processed records",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -736.8410063094348,
        "y" : 240.00007026858384
      },
      "properties" : {
        "Routing Strategy" : "Route to Property name",
        "newObject" : "${isInitialLoad:equals(\"true\")}",
        "incremental" : "${numberRecordsProcessed:gt(0):and(${isInitialLoad:equals(\"false\")})}"
      },
      "propertyDescriptors" : {
        "Routing Strategy" : {
          "displayName" : "Routing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Routing Strategy",
          "sensitive" : false
        },
        "newObject" : {
          "displayName" : "newObject",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "newObject",
          "sensitive" : false
        },
        "incremental" : {
          "displayName" : "incremental",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "incremental",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-snowflake-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "6fdf8c54-c6c5-3435-0000-00007217bdad",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Alter Destination Table",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -456.0,
        "y" : 536.0
      },
      "properties" : {
        "Use Table Metadata Cache" : "false",
        "Table Name" : "${name:toUpper()}",
        "Alter Column Type Strategy" : "Fail",
        "Column Removal Strategy" : "#{Column Removal Strategy}",
        "Table Metadata Cache Expiration Time" : "30 sec",
        "Update Type" : "Alter Table",
        "Max Batch Size" : "1",
        "Object Identifier Resolution" : "#{Object Identifier Resolution}",
        "Include Not Null Constraints" : "true",
        "Removed Column Name Suffix" : "#{Removed Column Name Suffix}",
        "Drop Not Null Strategy" : "Alter Table",
        "Add Not Null Strategy" : "Alter Table",
        "Record Reader" : "74376d39-b1f5-310f-814c-ed5389ecbd19",
        "Modify Primary Key Strategy" : "Alter Table",
        "Table Schema Strategy" : "Use Record Reader",
        "Schema Name" : "#{Destination Schema}",
        "Include Default Values" : "false",
        "Drop Column Strategy" : "Alter Table",
        "Add Column Strategy" : "Alter Table",
        "Connection Pool" : "a9c1971f-c26c-3ecb-8e2f-9651e5360396",
        "Include Primary Key Constraints" : "true"
      },
      "propertyDescriptors" : {
        "Use Table Metadata Cache" : {
          "displayName" : "Use Table Metadata Cache",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Use Table Metadata Cache",
          "sensitive" : false
        },
        "Table Name" : {
          "displayName" : "Table Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Name",
          "sensitive" : false
        },
        "Alter Column Type Strategy" : {
          "displayName" : "Alter Column Type Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Alter Column Type Strategy",
          "sensitive" : false
        },
        "Column Removal Strategy" : {
          "displayName" : "Column Removal Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Column Removal Strategy",
          "sensitive" : false
        },
        "Table Metadata Cache Expiration Time" : {
          "displayName" : "Table Metadata Cache Expiration Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Metadata Cache Expiration Time",
          "sensitive" : false
        },
        "Update Type" : {
          "displayName" : "Update Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Update Type",
          "sensitive" : false
        },
        "Max Batch Size" : {
          "displayName" : "Max Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Batch Size",
          "sensitive" : false
        },
        "Object Identifier Resolution" : {
          "displayName" : "Object Identifier Resolution",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Object Identifier Resolution",
          "sensitive" : false
        },
        "Include Not Null Constraints" : {
          "displayName" : "Include Not Null Constraints",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Not Null Constraints",
          "sensitive" : false
        },
        "Column Name Transformation" : {
          "displayName" : "Column Name Transformation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Column Name Transformation",
          "sensitive" : false
        },
        "Removed Column Name Suffix" : {
          "displayName" : "Removed Column Name Suffix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Removed Column Name Suffix",
          "sensitive" : false
        },
        "Drop Not Null Strategy" : {
          "displayName" : "Drop Not Null Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Drop Not Null Strategy",
          "sensitive" : false
        },
        "Add Not Null Strategy" : {
          "displayName" : "Add Not Null Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Add Not Null Strategy",
          "sensitive" : false
        },
        "Record Reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Reader",
          "sensitive" : false
        },
        "Creation Parameters" : {
          "displayName" : "Creation Parameters",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Creation Parameters",
          "sensitive" : false
        },
        "Desired Schema" : {
          "displayName" : "Desired Schema",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Desired Schema",
          "sensitive" : false
        },
        "Modify Primary Key Strategy" : {
          "displayName" : "Modify Primary Key Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Modify Primary Key Strategy",
          "sensitive" : false
        },
        "Table Schema Strategy" : {
          "displayName" : "Table Schema Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Schema Strategy",
          "sensitive" : false
        },
        "Schema Name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Name",
          "sensitive" : false
        },
        "Include Default Values" : {
          "displayName" : "Include Default Values",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Default Values",
          "sensitive" : false
        },
        "Drop Column Strategy" : {
          "displayName" : "Drop Column Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Drop Column Strategy",
          "sensitive" : false
        },
        "Add Column Strategy" : {
          "displayName" : "Add Column Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Add Column Strategy",
          "sensitive" : false
        },
        "Connection Pool" : {
          "displayName" : "Connection Pool",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Connection Pool",
          "sensitive" : false
        },
        "Include Primary Key Constraints" : {
          "displayName" : "Include Primary Key Constraints",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Primary Key Constraints",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "failure" ],
      "retryCount" : 5,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.snowflake.UpdateSnowflakeTable",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-salesforce-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "86038f15-a77d-3011-0000-00006c8a8f80",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Update State to COMPLETED",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -720.0,
        "y" : 1040.0
      },
      "properties" : {
        "Status" : "COMPLETED",
        "Salesforce Bulk Job State Service" : "989c2b5b-0c1c-3b58-8771-79c14551f112",
        "Object Type" : "${name}"
      },
      "propertyDescriptors" : {
        "Status" : {
          "displayName" : "Status",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Status",
          "sensitive" : false
        },
        "Salesforce Bulk Job State Service" : {
          "displayName" : "Salesforce Bulk Job State Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Salesforce Bulk Job State Service",
          "sensitive" : false
        },
        "Object Type" : {
          "displayName" : "Object Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Object Type",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "failure" ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.salesforce.UpdateBulkJobState",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "comms.failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-salesforce-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "8619aded-149c-34bc-0000-000039c579b4",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Describe SFDC Object",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -736.8410063094348,
        "y" : -439.99992973141616
      },
      "properties" : {
        "Object Fields Filter JSON" : "#{Object Fields Filter JSON}",
        "Salesforce Client" : "08704b97-0deb-3f24-99ca-7b4188b53b69",
        "Object Name" : "${name}"
      },
      "propertyDescriptors" : {
        "Object Fields Filter JSON" : {
          "displayName" : "Object Fields Filter JSON",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Object Fields Filter JSON",
          "sensitive" : false
        },
        "Salesforce Client" : {
          "displayName" : "Salesforce Client",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Salesforce Client",
          "sensitive" : false
        },
        "Object Name" : {
          "displayName" : "Object Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Object Name",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "comms.failure", "failure" ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.salesforce.DescribeSFDCObject",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-salesforce-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "89178078-8e71-3b8f-0000-00005c9b7efe",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Delete Query Job",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1176.0,
        "y" : 112.0
      },
      "properties" : {
        "Job ID" : "${jobId}",
        "Salesforce Client" : "08704b97-0deb-3f24-99ca-7b4188b53b69"
      },
      "propertyDescriptors" : {
        "Job ID" : {
          "displayName" : "Job ID",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Job ID",
          "sensitive" : false
        },
        "Salesforce Client" : {
          "displayName" : "Salesforce Client",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Salesforce Client",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "comms.failure", "failure" ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.salesforce.DeleteQueryJob",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-salesforce-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b098e6cf-aeca-33be-ffff-ffff8dd60f14",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Update State to FAILED",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 480.0,
        "y" : 184.0
      },
      "properties" : {
        "Status" : "FAILED",
        "Salesforce Bulk Job State Service" : "989c2b5b-0c1c-3b58-8771-79c14551f112",
        "Object Type" : "${name}"
      },
      "propertyDescriptors" : {
        "Status" : {
          "displayName" : "Status",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Status",
          "sensitive" : false
        },
        "Salesforce Bulk Job State Service" : {
          "displayName" : "Salesforce Bulk Job State Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Salesforce Bulk Job State Service",
          "sensitive" : false
        },
        "Object Type" : {
          "displayName" : "Object Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Object Type",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "failure" ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.salesforce.UpdateBulkJobState",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b1805cd1-ddda-3bc5-0000-000078510de0",
      "maxBackoffPeriod" : "10 mins",
      "name" : "LogMessage",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -160.0,
        "y" : 1184.0
      },
      "properties" : {
        "Log Message" : "ObjectType = ${objectType} ; Records = ${numberRecordsProcessed} ; BulkJobID = ${jobId} ; SystemModstamp = ${nowTs}",
        "Log Level" : "info",
        "Log Prefix" : "SALESFORCE_BULK_API - "
      },
      "propertyDescriptors" : {
        "Log Message" : {
          "displayName" : "Log Message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Message",
          "sensitive" : false
        },
        "Log Level" : {
          "displayName" : "Log Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Level",
          "sensitive" : false
        },
        "Log Prefix" : {
          "displayName" : "Log Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Prefix",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.LogMessage",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-salesforce-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b3043827-a2e4-35b6-0000-000039c579b4",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Delete Query Job",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -736.8410063094348,
        "y" : 104.00007026858384
      },
      "properties" : {
        "Job ID" : "${jobId}",
        "Salesforce Client" : "08704b97-0deb-3f24-99ca-7b4188b53b69"
      },
      "propertyDescriptors" : {
        "Job ID" : {
          "displayName" : "Job ID",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Job ID",
          "sensitive" : false
        },
        "Salesforce Client" : {
          "displayName" : "Salesforce Client",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Salesforce Client",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "comms.failure", "failure" ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.salesforce.DeleteQueryJob",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "in.progress" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-salesforce-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d27e31cc-0614-3909-0000-000039c579b4",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Submit Query Job",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -736.8410063094348,
        "y" : -303.99992973141616
      },
      "properties" : {
        "Column Delimiter" : "COMMA",
        "Initial Load Chunking" : "#{Initial Load Chunking}",
        "Salesforce Client" : "08704b97-0deb-3f24-99ca-7b4188b53b69",
        "Query" : "SELECT Id, IsDeleted, AccountId, IsPrivate, Name, Description, StageName, Amount, Probability, ExpectedRevenue, TotalOpportunityQuantity, CloseDate, Type, NextStep, LeadSource, IsClosed, IsWon, ForecastCategory, ForecastCategoryName, CampaignId, HasOpportunityLineItem, Pricebook2Id, OwnerId, CreatedDate, CreatedById, LastModifiedDate, LastModifiedById, SystemModstamp, LastActivityDate, PushCount, LastStageChangeDate, FiscalQuarter, FiscalYear, Fiscal, ContactId, LastViewedDate, LastReferencedDate, HasOpenActivity, HasOverdueTask, LastAmountChangedHistoryId, LastCloseDateChangedHistoryId, DeliveryInstallationStatus__c, TrackingNumber__c, OrderNumber__c, CurrentGenerators__c, MainCompetitors__c\nFROM Opportunity\nWHERE SystemModstamp > ${lastJobTimestamp} AND SystemModstamp <= ${nowTs}",
        "Result Format" : "CSV",
        "Configuration Mode" : "Simple",
        "Line Ending" : "LF",
        "Object Fields" : "${sObjectFields}",
        "Salesforce Bulk Job State Service" : "989c2b5b-0c1c-3b58-8771-79c14551f112",
        "Incremental Offload" : "true",
        "Operation" : "queryAll",
        "Object Name" : "${name}"
      },
      "propertyDescriptors" : {
        "Column Delimiter" : {
          "displayName" : "Column Delimiter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Column Delimiter",
          "sensitive" : false
        },
        "Initial Load Chunking" : {
          "displayName" : "Initial Load Chunking",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Initial Load Chunking",
          "sensitive" : false
        },
        "Salesforce Client" : {
          "displayName" : "Salesforce Client",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Salesforce Client",
          "sensitive" : false
        },
        "Query" : {
          "displayName" : "Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Query",
          "sensitive" : false
        },
        "Result Format" : {
          "displayName" : "Result Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Result Format",
          "sensitive" : false
        },
        "Configuration Mode" : {
          "displayName" : "Configuration Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Configuration Mode",
          "sensitive" : false
        },
        "Line Ending" : {
          "displayName" : "Line Ending",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Line Ending",
          "sensitive" : false
        },
        "Object Fields" : {
          "displayName" : "Object Fields",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Object Fields",
          "sensitive" : false
        },
        "Salesforce Bulk Job State Service" : {
          "displayName" : "Salesforce Bulk Job State Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Salesforce Bulk Job State Service",
          "sensitive" : false
        },
        "Incremental Offload" : {
          "displayName" : "Incremental Offload",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Incremental Offload",
          "sensitive" : false
        },
        "Operation" : {
          "displayName" : "Operation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Operation",
          "sensitive" : false
        },
        "Object Name" : {
          "displayName" : "Object Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Object Name",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "comms.failure", "failure" ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.salesforce.SubmitQueryJob",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d546cdcf-f204-3781-0000-000039c579b4",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Log Error",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 480.0,
        "y" : -496.0
      },
      "properties" : {
        "Log Message" : "Error in Salesforce connector, failed to successfully complete a Bulk Job",
        "Log Level" : "error",
        "Log Prefix" : "SALESFORCE_BULK_API - "
      },
      "propertyDescriptors" : {
        "Log Message" : {
          "displayName" : "Log Message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Message",
          "sensitive" : false
        },
        "Log Level" : {
          "displayName" : "Log Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Level",
          "sensitive" : false
        },
        "Log Prefix" : {
          "displayName" : "Log Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Prefix",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.LogMessage",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-salesforce-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d7f8eb4f-fc8d-3ed7-ffff-ffffc05c7919",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Update State to COMPLETED",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1504.0,
        "y" : 336.0
      },
      "properties" : {
        "Status" : "COMPLETED",
        "Salesforce Bulk Job State Service" : "989c2b5b-0c1c-3b58-8771-79c14551f112",
        "Object Type" : "${name}"
      },
      "propertyDescriptors" : {
        "Status" : {
          "displayName" : "Status",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Status",
          "sensitive" : false
        },
        "Salesforce Bulk Job State Service" : {
          "displayName" : "Salesforce Bulk Job State Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Salesforce Bulk Job State Service",
          "sensitive" : false
        },
        "Object Type" : {
          "displayName" : "Object Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Object Type",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "failure" ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.salesforce.UpdateBulkJobState",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-salesforce-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "dc4894c0-dabc-331f-9514-dab45d47202c",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Update State to ABORTED",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 480.0,
        "y" : 40.0
      },
      "properties" : {
        "Status" : "ABORTED",
        "Salesforce Bulk Job State Service" : "989c2b5b-0c1c-3b58-8771-79c14551f112",
        "Object Type" : "${name}"
      },
      "propertyDescriptors" : {
        "Status" : {
          "displayName" : "Status",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Status",
          "sensitive" : false
        },
        "Salesforce Bulk Job State Service" : {
          "displayName" : "Salesforce Bulk Job State Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Salesforce Bulk Job State Service",
          "sensitive" : false
        },
        "Object Type" : {
          "displayName" : "Object Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Object Type",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "failure" ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.salesforce.UpdateBulkJobState",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-salesforce-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ec380a5e-7fdc-38d8-0000-000039c579b4",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Get Query Job Result",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -736.8410063094348,
        "y" : -31.99992973141616
      },
      "properties" : {
        "Job ID" : "${jobId}",
        "Salesforce Client" : "08704b97-0deb-3f24-99ca-7b4188b53b69"
      },
      "propertyDescriptors" : {
        "Job ID" : {
          "displayName" : "Job ID",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Job ID",
          "sensitive" : false
        },
        "Salesforce Client" : {
          "displayName" : "Salesforce Client",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Salesforce Client",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "comms.failure", "failure" ],
      "retryCount" : 25,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.salesforce.GetQueryJobResult",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "original" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f90b6988-9b28-39ef-0000-000039c579b4",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Split Objects",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -736.8410063094348,
        "y" : -711.9999297314162
      },
      "properties" : {
        "name" : "/name",
        "Record Writer" : "f4796eec-3653-34d4-93d5-e3af9eeed538",
        "Record Reader" : "9460337d-0707-3a32-8e10-ec40c1aa7de5"
      },
      "propertyDescriptors" : {
        "name" : {
          "displayName" : "name",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "name",
          "sensitive" : false
        },
        "Record Writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Writer",
          "sensitive" : false
        },
        "Record Reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Reader",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PartitionRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-salesforce-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "fa08dd27-b255-325a-0000-00006dfc42c7",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Update State to FAILED",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 480.0,
        "y" : 536.0
      },
      "properties" : {
        "Status" : "FAILED",
        "Salesforce Bulk Job State Service" : "989c2b5b-0c1c-3b58-8771-79c14551f112",
        "Object Type" : "${name}"
      },
      "propertyDescriptors" : {
        "Status" : {
          "displayName" : "Status",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Status",
          "sensitive" : false
        },
        "Salesforce Bulk Job State Service" : {
          "displayName" : "Salesforce Bulk Job State Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Salesforce Bulk Job State Service",
          "sensitive" : false
        },
        "Object Type" : {
          "displayName" : "Object Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Object Type",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "failure" ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.salesforce.UpdateBulkJobState",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-snowpipe-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "fa53c8f6-6ff7-3a62-b5a7-30b14b34c00c",
      "maxBackoffPeriod" : "10 mins",
      "name" : "INSERT with Snowpipe Streaming",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -976.0,
        "y" : 744.0
      },
      "properties" : {
        "Account" : "#{Snowflake Account Identifier}",
        "User" : "#{Snowflake Username}",
        "Table" : "${name:toUpper()}",
        "Max Batch Size" : "10000",
        "Schema" : "#{Destination Schema}",
        "Max Tasks Per Group" : "1",
        "Record Reader" : "74376d39-b1f5-310f-814c-ed5389ecbd19",
        "Iceberg Enabled" : "false",
        "Private Key Service" : "1379f7d6-de63-35ad-abf0-6b0028d2ab12",
        "Connection Strategy" : "STANDARD",
        "Role" : "#{Snowflake Role}",
        "Snowpipe Channel Prefix" : "${hostname(false)}",
        "Client Lag" : "1 sec",
        "Authentication Strategy" : "#{Snowflake Authentication Strategy}",
        "Delivery Guarantee" : "At least once",
        "Database" : "#{Destination Database}"
      },
      "propertyDescriptors" : {
        "Account" : {
          "displayName" : "Account",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Account",
          "sensitive" : false
        },
        "User" : {
          "displayName" : "User",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "User",
          "sensitive" : false
        },
        "Table" : {
          "displayName" : "Table",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table",
          "sensitive" : false
        },
        "Concurrency Group" : {
          "displayName" : "Concurrency Group",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Concurrency Group",
          "sensitive" : false
        },
        "Max Batch Size" : {
          "displayName" : "Max Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Batch Size",
          "sensitive" : false
        },
        "Schema" : {
          "displayName" : "Schema",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema",
          "sensitive" : false
        },
        "Max Tasks Per Group" : {
          "displayName" : "Max Tasks Per Group",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Tasks Per Group",
          "sensitive" : false
        },
        "Record Offset" : {
          "displayName" : "Record Offset",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Record Offset",
          "sensitive" : false
        },
        "Record Reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Reader",
          "sensitive" : false
        },
        "Iceberg Enabled" : {
          "displayName" : "Iceberg Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Iceberg Enabled",
          "sensitive" : false
        },
        "Snowpipe Channel Index" : {
          "displayName" : "Snowpipe Channel Index",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Snowpipe Channel Index",
          "sensitive" : false
        },
        "Private Key Service" : {
          "displayName" : "Private Key Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Private Key Service",
          "sensitive" : false
        },
        "Connection Strategy" : {
          "displayName" : "Connection Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Strategy",
          "sensitive" : false
        },
        "Role" : {
          "displayName" : "Role",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Role",
          "sensitive" : false
        },
        "Record Offset Strategy" : {
          "displayName" : "Record Offset Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Record Offset Strategy",
          "sensitive" : false
        },
        "Snowpipe Channel Prefix" : {
          "displayName" : "Snowpipe Channel Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Snowpipe Channel Prefix",
          "sensitive" : false
        },
        "Client Lag" : {
          "displayName" : "Client Lag",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Client Lag",
          "sensitive" : false
        },
        "Authentication Strategy" : {
          "displayName" : "Authentication Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Authentication Strategy",
          "sensitive" : false
        },
        "Delivery Guarantee" : {
          "displayName" : "Delivery Guarantee",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delivery Guarantee",
          "sensitive" : false
        },
        "Record Offset Record Path" : {
          "displayName" : "Record Offset Record Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Record Offset Record Path",
          "sensitive" : false
        },
        "Database" : {
          "displayName" : "Database",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "failure" ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.snowpipe.PutSnowpipeStreaming",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-snowflake-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.1.22.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "fec211aa-253e-3f6b-acfb-2ed815699d36",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Create Destination Table",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -976.0,
        "y" : 536.0
      },
      "properties" : {
        "Use Table Metadata Cache" : "false",
        "Table Name" : "${name:toUpper()}",
        "Alter Column Type Strategy" : "Fail",
        "Column Removal Strategy" : "Drop Column",
        "Table Metadata Cache Expiration Time" : "30 sec",
        "Update Type" : "Create or Replace Table",
        "Max Batch Size" : "1",
        "Object Identifier Resolution" : "#{Object Identifier Resolution}",
        "Include Not Null Constraints" : "true",
        "Drop Not Null Strategy" : "Alter Table",
        "Add Not Null Strategy" : "Alter Table",
        "Record Reader" : "74376d39-b1f5-310f-814c-ed5389ecbd19",
        "Modify Primary Key Strategy" : "Alter Table",
        "Table Schema Strategy" : "Use Record Reader",
        "Schema Name" : "#{Destination Schema}",
        "Include Default Values" : "false",
        "Drop Column Strategy" : "Alter Table",
        "Add Column Strategy" : "Alter Table",
        "Connection Pool" : "a9c1971f-c26c-3ecb-8e2f-9651e5360396",
        "Include Primary Key Constraints" : "true"
      },
      "propertyDescriptors" : {
        "Use Table Metadata Cache" : {
          "displayName" : "Use Table Metadata Cache",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Use Table Metadata Cache",
          "sensitive" : false
        },
        "Table Name" : {
          "displayName" : "Table Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Name",
          "sensitive" : false
        },
        "Alter Column Type Strategy" : {
          "displayName" : "Alter Column Type Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Alter Column Type Strategy",
          "sensitive" : false
        },
        "Column Removal Strategy" : {
          "displayName" : "Column Removal Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Column Removal Strategy",
          "sensitive" : false
        },
        "Table Metadata Cache Expiration Time" : {
          "displayName" : "Table Metadata Cache Expiration Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Metadata Cache Expiration Time",
          "sensitive" : false
        },
        "Update Type" : {
          "displayName" : "Update Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Update Type",
          "sensitive" : false
        },
        "Max Batch Size" : {
          "displayName" : "Max Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Batch Size",
          "sensitive" : false
        },
        "Object Identifier Resolution" : {
          "displayName" : "Object Identifier Resolution",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Object Identifier Resolution",
          "sensitive" : false
        },
        "Include Not Null Constraints" : {
          "displayName" : "Include Not Null Constraints",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Not Null Constraints",
          "sensitive" : false
        },
        "Column Name Transformation" : {
          "displayName" : "Column Name Transformation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Column Name Transformation",
          "sensitive" : false
        },
        "Removed Column Name Suffix" : {
          "displayName" : "Removed Column Name Suffix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Removed Column Name Suffix",
          "sensitive" : false
        },
        "Drop Not Null Strategy" : {
          "displayName" : "Drop Not Null Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Drop Not Null Strategy",
          "sensitive" : false
        },
        "Add Not Null Strategy" : {
          "displayName" : "Add Not Null Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Add Not Null Strategy",
          "sensitive" : false
        },
        "Record Reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Reader",
          "sensitive" : false
        },
        "Creation Parameters" : {
          "displayName" : "Creation Parameters",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Creation Parameters",
          "sensitive" : false
        },
        "Desired Schema" : {
          "displayName" : "Desired Schema",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Desired Schema",
          "sensitive" : false
        },
        "Modify Primary Key Strategy" : {
          "displayName" : "Modify Primary Key Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Modify Primary Key Strategy",
          "sensitive" : false
        },
        "Table Schema Strategy" : {
          "displayName" : "Table Schema Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Schema Strategy",
          "sensitive" : false
        },
        "Schema Name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Name",
          "sensitive" : false
        },
        "Include Default Values" : {
          "displayName" : "Include Default Values",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Default Values",
          "sensitive" : false
        },
        "Drop Column Strategy" : {
          "displayName" : "Drop Column Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Drop Column Strategy",
          "sensitive" : false
        },
        "Add Column Strategy" : {
          "displayName" : "Add Column Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Add Column Strategy",
          "sensitive" : false
        },
        "Connection Pool" : {
          "displayName" : "Connection Pool",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Connection Pool",
          "sensitive" : false
        },
        "Include Primary Key Constraints" : {
          "displayName" : "Include Primary Key Constraints",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Primary Key Constraints",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "failure" ],
      "retryCount" : 5,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.snowflake.UpdateSnowflakeTable",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : {
    "Salesforce Bulk API Destination Parameters" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ ],
      "name" : "Salesforce Bulk API Destination Parameters",
      "parameters" : [ {
        "description" : "The database where data will be persisted. It must already exist in Snowflake",
        "name" : "Destination Database",
        "provided" : false,
        "sensitive" : false,
        "value" : "SFDC_RAW"
      }, {
        "description" : "The schema where data will be persisted. It must already exist in Snowflake",
        "name" : "Destination Schema",
        "provided" : false,
        "sensitive" : false,
        "value" : "SALES_CLOUD"
      }, {
        "description" : "Determines if schema / table / column names are treated as case-sensitive or case-insensitive. One of: CASE_INSENSITIVE / CASE_SENSITIVE. Please note that changing this parameter value will require to clear the state and do a full reload of all objects.",
        "name" : "Object Identifier Resolution",
        "provided" : false,
        "sensitive" : false,
        "value" : "CASE_INSENSITIVE"
      }, {
        "description" : "Snowflake account name formatted as [organization-name]-[account-name] where data will be persisted",
        "name" : "Snowflake Account Identifier",
        "provided" : false,
        "sensitive" : false,
        "value" : "SFPSCOGS-VMARAKALA_AWS_DEMO"
      }, {
        "description" : "Using SNOWFLAKE_MANAGED will make use of the Snowflake managed token associated with the specified Snowflake Runtime Role. If using Openflow BYOC, it is also possible to use KEY_PAIR in order to specify a specific user and role via a cusom Key Pair.",
        "name" : "Snowflake Authentication Strategy",
        "provided" : false,
        "sensitive" : false,
        "value" : "SNOWFLAKE_MANAGED"
      }, {
        "description" : "The RSA private key which is used for authentication. The RSA key must be formatted according to PKCS8 standards and have standard PEM headers and footers. Note that either Snowflake Private Key File or Snowflake Private Key must be defined",
        "name" : "Snowflake Private Key",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "The file that contains the RSA Private Key used for authentication to Snowflake, formatted according to PKCS8 standards and having standard PEM headers and footers. The header line starts with -----BEGIN PRIVATE",
        "name" : "Snowflake Private Key File",
        "provided" : false,
        "sensitive" : false
      }, {
        "description" : "The password associated with the Snowflake Private Key File",
        "name" : "Snowflake Private Key Password",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "Snowflake Role used during query execution",
        "name" : "Snowflake Role",
        "provided" : false,
        "sensitive" : false,
        "value" : "OPENFLOW_RUNTIME_ROLE_DEV"
      }, {
        "description" : "User name used to connect to Snowflake instance",
        "name" : "Snowflake Username",
        "provided" : false,
        "sensitive" : false
      }, {
        "description" : "Snowflake warehouse used to run queries",
        "name" : "Snowflake Warehouse",
        "provided" : false,
        "sensitive" : false,
        "value" : "batch_load_xsmall_wh"
      } ]
    },
    "Salesforce Bulk API Source Parameters" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ ],
      "name" : "Salesforce Bulk API Source Parameters",
      "parameters" : [ {
        "description" : "",
        "name" : "Connected App Key",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "Private Key of the connected app",
        "name" : "Connected App Key File",
        "provided" : false,
        "sensitive" : false
      }, {
        "description" : "Password of the Private Key of the connected app",
        "name" : "Connected App Key Password",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "Audience for the OAuth2 authentication via the Salesforce connected app.",
        "name" : "OAuth2 Audience",
        "provided" : false,
        "sensitive" : false,
        "value" : "https://login.salesforce.com"
      }, {
        "description" : "Client ID of the Connected App added in Salesforce to authenticate using the JWT Bearer OAuth2 Flow.",
        "name" : "OAuth2 Client ID",
        "provided" : false,
        "sensitive" : false,
        "value" : "3MVG9HtWXcDGV.nF.Ng42CBdYLSgsudDbdzASOxX300aHX_QDpe7oNtVT3hZdV1hf9rq3sX71aFOLtTBN1HVz"
      }, {
        "description" : "Username used to authenticate via the Salesforce connected app.",
        "name" : "OAuth2 Subject",
        "provided" : false,
        "sensitive" : false,
        "value" : "mvreddy@fastservice.com"
      }, {
        "description" : "Endpoint to negotiate an authentication token. Usually looking like: https://myCompany.my.salesforce.com/services/oauth2/token",
        "name" : "OAuth2 Token Endpoint URL",
        "provided" : false,
        "sensitive" : false,
        "value" : "https://fastservice-dev-ed.develop.my.salesforce.com/services/oauth2/token"
      }, {
        "description" : "Qualified name of the Salesforce instance. This is usually something like: myCompany.my.salesforce.com",
        "name" : "Salesforce Instance",
        "provided" : false,
        "sensitive" : false,
        "value" : "fastservice-dev-ed.develop.my.salesforce.com"
      } ]
    },
    "Salesforce Bulk API Ingestion Parameters" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ "Salesforce Bulk API Destination Parameters", "Salesforce Bulk API Source Parameters" ],
      "name" : "Salesforce Bulk API Ingestion Parameters",
      "parameters" : [ {
        "description" : "Defines the strategy to adopt when a column should be removed in the destination table based on the latest received schema. Three possible values: \"Drop Column\", \"Rename Column\", \"Ignore Column\".\n- Drop Column - Drop the column from the Snowflake table\n- Rename Column - Rename the column in the Snowflake table\n- Ignore Column - Ignore the column, leaving it as is in the Snowflake table",
        "name" : "Column Removal Strategy",
        "provided" : false,
        "sensitive" : false,
        "value" : "Drop Column"
      }, {
        "description" : "Comma-separated list of objects to offload from Salesforce, or regular expression to apply against all existing objects. If left empty, all objects will be offloaded. This is not recommended as there are usually thousands of objects in a Salesforce instance. Example: Account, Opportunity, Contact",
        "name" : "Filter",
        "provided" : false,
        "sensitive" : false,
        "value" : "^(?!.*(__e|__h|_c_History|Share|Feed|Tag|ChangeEvent)$).*$"
      }, {
        "description" : "If set to a value other than None, the initial data load will be split into multiple jobs based on this interval. On the first run for an object, the connector will query Salesforce to find the oldest record and use that as the starting point. Each subsequent job will query the next time chunk until caught up to the current time. This is useful for large datasets where loading all historical data in a single query may timeout or exceed API limits. Once caught up, the processor will continue with normal incremental offload behavior. Should be set with one of: NONE, MONTHLY, QUARTERLY, YEARLY.",
        "name" : "Initial Load Chunking",
        "provided" : false,
        "sensitive" : false,
        "value" : "NONE"
      }, {
        "description" : "A JSON specifying which fields and field patterns should be included or excluded, per Salesforce object. Takes the form of an array with one item per object, e.g. [ {\"objectType\":\"Account\", \"includedPattern\":\".*name\"} ] - this will include all fields that end with 'name' in the 'Account' Salesforce object ; e.g. [ {\"objectType\":\"Account\", \"included\": [\"Id\", \"Name\", \"Revenue\"]} ] - this will include the fields Id, Name and Revenue in the 'Account' Salesforce object. excluded/excludedPattern are also available for configuring the filters.",
        "name" : "Object Fields Filter JSON",
        "provided" : false,
        "sensitive" : false
      }, {
        "description" : "Suffix added to the column name when the parameter \"Column Removal Strategy\" is set to \"Rename Column\"",
        "name" : "Removed Column Name Suffix",
        "provided" : false,
        "sensitive" : false,
        "value" : "__deleted"
      }, {
        "description" : "Frequency at which the connector will check for updates in Salesforce for configured objects via the Filter parameter",
        "name" : "Run Schedule",
        "provided" : false,
        "sensitive" : false,
        "value" : "15 minutes"
      } ]
    }
  },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "VMARAKALA",
    "flowIdentifier" : "salesforce-bulk-api",
    "timestamp" : 1771005104874
  }
}